<footer>
    <div class="container">


        <div class="wrap">
            <div class="footer-images">
        <img src="./img/footer-2.png" alt="">
        <img class="r-and-m" src="./img/footer-1.png" alt="">
        </div>
        <ul class="social-links">
            <li><a href=""><img src="./img/twitter.svg" alt=""></a></li>
            <li><a href=""><img src="./img/instagram.svg" alt=""></a></li>
            <li><a href=""><img src="./img/facebook.svg" alt=""></a></li>
        </ul>


</div>
        <p class="text">Privacy Policy Public Offering Agreement</p>
    </div>
</footer>