<main>
  <div class="container">
    <div class="search-box">
      <div class="search-item">
        <label for="name">
          Name
        </label>
          <input class="name" type="text" placeholder="Enter name"/>
          <button type="submit"><img src="./img/search.svg" alt=""></button>
      </div>


      <div class="search-item">
        <label for="status">
            Status
        </label>
      <select name="status" id="status">
        <option value="alive">Alive</option>
        <option value="dead">Dead</option>
        <option value="unknow">Unknow</option>
      </select>
      </div>

            <div class="search-item">
        <label for="species">
            Species
        </label>
      <select name="species" id="species">
        <option value="human">Human</option>
        <option value="dead">Dead</option>
        <option value="mythological-creature">Mythological Creature</option>
        <option value="humanoid">Humanoid</option>
        <option value="animal">Animal</option>
        <option value="cronenberg">Cronenberg</option>
        <option value="poopybutthole">Poopybutthole</option>
        <option value="robot">Robot</option>
        <option value="disease">Disease</option>
      </select>
      </div>


       <div class="search-item">
        <label for="gender">
            Gender
        </label>
      <select name="gender" id="gender">
        <option value="man">Man</option>
        <option value="woman">Woman</option>
        <option value="unknow">Unknow</option>
      </select>
      </div>
    </div>
    <ul></ul>
  </div>
</main>
