.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    width: 375px;
}

@media (min-width: 768px) {
    .container{
    width: 768px;
    padding: 0 32px;
}
}

@media (min-width: 1216px) {
    .container{
    width: 1216px;
    padding: 0 16px;
}
}