header{
    padding: 20px 0;
    background-color: var(--second-background-color);
}

.hero{
    position: relative;
    background-image: url(../img/blocks.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 148px;
    background-color: var(--second-background-color);
    color: var(--main-background-color);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.header-img{
        margin-left: auto;
    margin-right: auto;
}

.logo-img{
    margin-top: 24px;
    margin-bottom: 4px; 
    margin-left: auto;
    margin-right: auto;
        @media screen and (min-width: 768px) {
        width: 460px;
}
}

.hero .text{
    text-align: center;
    font-weight: 400;
        @media screen and (min-width: 768px) {
    width: 420px;
    margin-left: auto;
    margin-right: auto;

}
}

.hero-left{
    @media screen and (min-width: 1216px) {
        display: flex;
}
}