main{
    padding-top: 104px;
    padding-bottom: 80px;
        @media screen and (min-width: 768px) {
    padding-top: 169px;
    padding-bottom: 128px;
}     
}

.search-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin-bottom: 44px;
        @media screen and (min-width: 1216px) {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
}

.search-item{
color: var(--main-color);
border-color: transparent;
display: flex;
flex-direction: column;
gap: 8px;
position: relative;
}

.search-item:first-child button{
    position: absolute;
    bottom: 14px;
    right: 24px;
    border: none;
    background-color: transparent;
}

.search-item input{
    width: 335px;
    color: var(--main-color);
    border-color: var(--main-color);
    border-width: 1.5px;
border-radius: 100px;
    padding: 14px 24px;
    background-color: var(--second-acsent-color);
}

.search-item select{   
    color: var(--main-color);
    border-color: var(--main-color);
    border-width: 1.5px;
border-radius: 100px;
    padding: 14px 24px;
    background-color: transparent;
    width: 162px;
}

.character-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;   
    @media screen and (min-width: 768px) {
        display: flex;
    gap: 25px;
        @media screen and (min-width: 1216px) {
            width: 1200px;
}
}         
}

.character-item{
    @media screen and (min-width: 1216px) {
        width: 281px;
}
}

.character-img{
    border-radius: 20px;
    border: solid 2px var(--acsent-color);
}

.name-character{
    margin-top: 14px;
    margin-bottom: 8px;
}

.character-text.first{
    margin-bottom: 4px;
}

.character-text{
    margin: 0;
}

.character-description{
    color: var(--text-color);
}

.load-more{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    background-color: var(--acsent-color);
    color: var(--main-color);
    border-radius: 35%;
    padding: 24px 12px;
    border: transparent;
}

.error-img{
    margin-left: auto;
    margin-right: auto;
    display: none;
}

