main{
    padding-top: 104px;
    padding-bottom: 80px;
}

.search-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.search-item{
color: var(--main-color);
border-color: transparent;
display: flex;
flex-direction: column;
gap: 8px;
position: relative;
}

.search-item:first-child button{
    position: absolute;
    bottom: 14px;
    right: 24px;
    border: none;
    background-color: transparent;
}

.search-item input{
    width: 235px;
    color: var(--main-color);
    border-color: var(--main-color);
    border-width: 1.5px;
border-radius: 100px;
    padding: 14px 24px;
    background-color: var(--second-acsent-color);
}

.search-item select{   
    color: var(--main-color);
    border-color: var(--main-color);
    border-width: 1.5px;
border-radius: 100px;
    padding: 14px 24px;
    background-color: transparent;
    width: 162px;
}

